.prodcutCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 3% 2%;
}

.prodcutInfos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2% 0;
}

.productName, .productType, .productPrice{
    text-align: center;
}
.productName:hover {
    cursor: pointer;
    text-decoration: underline;
}

.productType {
    color: gray;
}

@media screen and (min-width: 900px) {
    .prodcutCard {
        width: 18%;
    }
}