.prodcutCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 5% 2%;
}

.prodcutInfos {
    text-align: center;
    margin: 3% 0;
}

.productName:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width: 900px) {
    .prodcutCard {
        width: 18%;
    }
}