.logo {
    width: 15%;
}
.logo:hover {
    cursor: pointer;
}

.logoFooter{
    width: 25%;
    margin: auto;
}

@media screen and (min-width: 900px) {
    .logo {
        width: 5%;
    }
    .logoFooter{
        width: 30%;
        margin: auto;
    }
}