.sectionContentCart, .sectionContentPaymentForm, .sectionContentAdressForm, .sectionContentOrderResume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0;
    width: 100%;
}

.contentTitle {
    font-weight: bold;
    width: 90%;
}

.CartPage {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.OrderResumeTable {
    width: 80%;
    margin: 4% 0;
}

.tableCart {
    width: 100%;
    height: auto;
}
.tableCart td {
    text-align: center;
    border-top: 1px solid gray;
    padding: 1% 0;
    margin: 0;
}
.tableCart td:nth-child(3) { /* Item Collumm */
    width: 30% !important;
    text-align: left;
}

.tableCart tr:hover {
    background-color: rgba(0, 0, 0, .04);
}

.tableCart img {
    width: 50%;
}

.pickUpContent {
    width: 80%;
}

@media screen and (min-width: 900px) {
    
    .CartPage {
        display: grid;
        height: 100%;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto 30% 30%;
        grid-template-areas: 'cart cart' 'formPayment formAdress' 'formPayment formResume';
    }

    .sectionContentCart, .sectionContentPaymentForm, .sectionContentAdressForm, .sectionContentOrderResume {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2% auto;
        padding: 2% 0;
    }
    .sectionContentPaymentForm, .sectionContentAdressForm, .sectionContentOrderResume {
        width: 80%;
    }

    .sectionContentCart {
        justify-content: center;
        grid-area: cart;
    }
    .sectionContentPaymentForm {
        grid-area: formPayment;
        
    }
    .sectionContentAdressForm {
        grid-area: formAdress;
    }
    .sectionContentOrderResume {
        grid-area: formResume;
    }

    .CartItens {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1%;
        overflow-y: auto;
    }
    .orderResume {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .tableCart {
        width: 80%;
    }

    .tableCart td {
        width: 10%;
        height: 20px;
    }
    .tableCart img {
        width: 50%;
    }
}