.sectionContentCart, .sectionContentPaymentForm, .sectionContentAdressForm, .sectionContentOrderResume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0;
    width: 100%;
}

.contentTitle {
    font-weight: bold;
    width: 90%;
}

.CartPage {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.CartItemsHeader {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 30%;
}

.CartItemsHeader p:first-child {
    margin-right: 20%;
}

.CartItens {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.OrderResumeTable {
    width: 80%;
    margin: 4% 0;
}

@media screen and (min-width: 900px) {
    
    .CartPage {
        display: grid;
        height: 100%;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto 30% 30%;
        grid-template-areas: 'cart cart' 'formPayment formAdress' 'formPayment formResume';
    }

    .sectionContentCart, .sectionContentPaymentForm, .sectionContentAdressForm, .sectionContentOrderResume {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2% auto;
        padding: 2% 0;
    }
    .sectionContentPaymentForm, .sectionContentAdressForm, .sectionContentOrderResume {
        width: 80%;
    }

    .sectionContentCart {
        justify-content: center;
        grid-area: cart;
    }
    .sectionContentPaymentForm {
        grid-area: formPayment;
        
    }
    .sectionContentAdressForm {
        grid-area: formAdress;
    }
    .sectionContentOrderResume {
        grid-area: formResume;
    }

    .CartItens {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1%;
        overflow-y: auto;
    }
    .CartItemsHeader {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-left: 20%;
    }
    
    .CartItemsHeader p:first-child {
        margin-right: 30%;
    }

    .orderResume {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        background-color: rebeccapurple;
    }
}