.productPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 10%;
}

/* Header Informations */
.headerInformations {
    display: grid;
    grid-auto-columns: 50% 40%;
    grid-auto-rows: 60% 20% 20%;
    grid-template-areas: 'pImage pInfos' 'images images';
}

.productImage {
    grid-area: pImage;
    width: 80%;
    border-radius: 5px;
}

.productInformation {
    grid-area: pInfos;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 1%;
}
.productInformation p {
    margin: 2%;
}

.productActionsContent {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.productActionsContent input {
    width: 30%;
    padding: 1%;
    text-align: center;
}


/* ALL IMAGES */
.imagesContent {
    grid-area: images;
    display: flex;
    width: 100%;
}
.allImagesContent {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}
.allImagesContent img {
    margin: 1%;
    width: 20%;
    border-radius: 10px;
}

/* Similar Products */
.similarProductsContent {
    display: flex;
    flex-direction: column;
    padding: 5% 1% 0 1%;
}
.productsContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}