.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5% 0 5%;
}
.selectionButton {
    padding: .3% 2%;
    border: 1px solid gray;
}

.listContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.listNavegation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1% 5%;
}
.listNavegationButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1%;
}