.admPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buttonArea, .formsArea {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 100%;
}

.formsArea {
    align-items: center;
}
.formTitle {
    width: 60%;
    text-align: center;
    font-weight: bold;
    padding: 1%;
    border-bottom: 1px dashed var(--button-border);
}
.formTitle i {
    margin-right: 3%;
}

@media screen and (min-width: 900px){
    .admPage {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
    }
    .buttonArea{
        width: 30%;
    }
    .formsArea {
        justify-content: center;
        width: 60%;
    }
}