.admPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buttonArea, .formsArea {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
}

.formsArea {
    align-items: center;
}
.formTitle {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

@media screen and (min-width: 900px){
    .admPage {
        flex-direction: row;
        align-items: baseline;
    }
    .buttonArea{
        width: 40%;
    }
}