.sliderShow {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100%;
    grid-template-areas: 'left center right';
    width: 80%;
    min-height: 150px;
    margin: 1% auto;
}

.left, .center, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.left:hover, .right:hover {
    cursor: pointer;
}
.left:active, .right:active {
    cursor: progress;
}

.left {
    grid-area: left;
}
.center {
    grid-area: center;
    flex-direction: column;
}
.right {
    grid-area: right;
}

/* ANIMATIONS */
.sliderContent, .animaitonComingLeft, .animaitonComingRight {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sliderContent {
    transition: .3s;
}

.animaitonComingLeft {
    /* justify-content: flex-end; */
    margin-left: 10%;
    transition: .3s;
    opacity: 0;
}

.animaitonComingRight {
    /* justify-content: flex-start; */
    margin-right: 10%;
    transition: .3s;
    opacity: 0;
}

/* IMAGE */
.sliderImages {
    width: 30%;
    box-sizing: border-box;
    background-size: cover;
    margin: 0 1%;
}

@media screen and (min-width: 900px) {
    .sliderShow {
        grid-template-columns: 10% auto 10%;
        width: 70%;
    }
}

