.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: antiquewhite;
    padding: 1% 5%;
}

.sectionContent, .logoContent{
    width: 80%;
    margin-bottom: 5%;
}

.footerTitle {
    font-weight: bold;
}

.logoContent {
    display: flex;
    margin-right: 5%;
}

.socialNetworkLinks {
    display: flex;
    justify-content: center;
    width: 100%;
}
.socialNetworkLinks a {
    color: black;
    font-size: 1.1em;
    margin: 1% 10%;
}

@media screen and (min-width: 900px) {
    .footerContent {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .sectionContent, .logoContent{
        padding: 0.1% 1%;
        width: 50%;
    }
    .socialNetworkLinks {
        display: flex;
        justify-content: space-between;
        width: 30%;
        font-size: 1.3em;
    }
}