.footerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: antiquewhite;
    padding: 0 5%;
}

.sectionContent {
    padding: 0.1% 1%;
    margin: .5%; 
}

.footerTitle {
    font-weight: bold;
    margin-bottom: 5%;
}

.logoContent {
    display: flex;
    margin-right: 5%;
}

@media screen and (min-width: 900px) {
    .footerContent {
        justify-content: space-around;
    }
}