:root {
  --background-color: #F3ECE2;
  --header-color: #F3DECA;

  --button-border: #B48257;

  --i-color: #62412E;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.02em;
  font-family: sans-serif;
  scroll-behavior:  smooth;
}

html, body, section {
  background-color: var(--background-color);
}

i {
  color: var(--i-color);
}
