.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: black;
}
.link:hover {
    text-decoration: underline;
}
.link:active {
    background-color: transparent;
}


@media screen and (min-width: 900px) {
    .link {
        margin: 2%;
    }
}